<body>
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <span>You are in Personal Banking</span>
        <span>ATM & Branch</span>
        <span>Help & Support</span>
      </div>
    </div>
    <div class="main-header">
      <div class="logo">
        <%= image_tag("dbs_logo.svg", alt: "DBS", class: "logo-icon") %>
      </div>
      <nav>
        <ul>
          <li><a href="#">Bank</a></li>
          <li><a href="#">Cards</a></li>
          <li><a href="#">Insure</a></li>
          <li><a href="#">Borrow</a></li>
          <li><a href="#">Invest</a></li>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Marketplace</a></li>
        </ul>
      </nav>
      <div class="search-login">
        <input type="text" placeholder="Search">
        <button class="login">Login</button>
      </div>
    </div>
  </header>
  <div class="title">
    <h1>Application Checklist</h1>
  </div>
  <div class="container">
    <div class="section" id="section1" onclick="showPopup('principal_popup')">
      <h2>Principal Credit Cards</h2>
    </div>
    <div class="section" id="section2" onclick="showPopup('supplementary_popup')">
      <h2>Supplementary Credit Cards</h2>
    </div>
    <div class="section" id="section3" onclick="showPopup('livefresh_popup')">
      <h2>DBS Live Fresh Student Card</h2>
    </div>
  </div>

  <!-- Popups -->
  <div class="popup-overlay" id="principal_popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup('principal_popup')">&times;</span>
      <div class="title-container">
        <h1>Principal Credit Cards</h1>
        <div class="toggle-switch">
          <input type="checkbox" id="toggle" class="toggle-input">
          <label for="toggle" class="toggle-label">
            <span class="toggle-text">
              <span id="sg-pr">Singaporean/Permanent Resident</span>
              <span id="foreigner">Foreigners</span>
            </span>
          </label>
        </div>
      </div>
      <div class="header">
        <div class="tabs">
          <button class="tab active" onclick="openTab(event, 'label1')">Salaried Employee (more than 3 months)</button>
          <button class="tab" onclick="openTab(event, 'label2')">Salaried Employee (less than 3 months)</button>
          <button class="tab" onclick="openTab(event, 'label3')">Variable/Commission-based Employees or Self-Employed</button>
        </div>
      </div>

      <div id="label1" class="tab-content" style="display: block;">
        <div class="content" id="singapore-content">
          <div class="sidebar">
            <div class="accordion">
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('Nric.png') %>" onclick="toggleAccordion(event)">Identification Document</button>
                  <div class="accordion-content">
                      <p>NRIC (front & back) for Singaporean/Permanent Residents</p>
                  </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('dbs-live-fresh.jpg') %>" onclick="toggleAccordion(event)">Financial Document</button>
                  <div class="accordion-content">
                      <p>Submission of either documents are acceptable:
                      <ul>
                          <li>Latest 3 months’ computerised payslip in SGD is preferred; else minimally Latest 1 month’s computerised payslip</li>
                          <li>Latest 12 months’ CPF Contribution History Statement</li>
                          <li>Latest 3 months’ salary crediting bank statements in SGD</li>
                      </ul>
                      </p>
                  </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('tax-assesment.png') %>" onclick="toggleAccordion(event)">Income Tax Notice of Assessment</button>
                  <div class="accordion-content">
                    <p>Latest 2 years of Income Tax Notice of Assessment in SGD is preferred; else minimally latest 1 year of Income Tax Notice of Assessment</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="main-content">
              <%= image_tag("visa-card.jpg", alt: "Visa Card", id: "main-image") %>
          </div>
        </div>

        <div class="content" id="foreigners-content" style="display: none;">
          <div class="sidebar">
            <div class="accordion">
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event, 'visa-card.jpg')">Valid Passport</button>
                <div class="accordion-content">
                  <p>Passport for Foreigner (minimum validity of 6 months at the time of application)</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Employment Pass</button>
                <div class="accordion-content">
                  <p>Employment Pass must have a minimum validity of 6 months at the time of application. Any of these following pass is acceptable:
                    <ul>
                      <li>Employment Pass</li> 
                      <li>S Pass</li> 
                      <li>Personalised Employment Pass</li>
                      <li>Long-Term Visit Pass with LOC</li>
                      <li>Tech. Pass</li>
                      <li>International Organisation Pass</li>
                      <li>Overseas Networks & Expertise Pass</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Income Tax Notice of Assessment</button>
                <div class="accordion-content">
                  <p>Please provide the latest 2 years of Income Tax Notice of Assessment</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Latest computerised payslip</button>
                <div class="accordion-content">
                  <p>Document must be dated within 3 months before the date of application; else minimally Latest 1 month’s computerised payslip</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Proof of Residential Address</button>
                <div class="accordion-content">
                  <p>Latest copy of your Residential Address proof dated within 3 months before the date of card application (For new DBS/POSB Bank customers only). Submission of either one of the documents is accpetable:
                    <ul>
                      <li>Letter of offer/ employment</li>
                      <li>Local utility/ telecommunication bill</li>
                      <li>Local bank statement/ credit card statement</li>
                      <li>In-Principle Approval (IPA) issued by Ministry of Manpower</li>
                      <li>In-Principle Approval (IPA) issued from ICA</li>
                      <li>Work permit of foreign domestic worker issue by Ministry of Manpower</li>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content">
            <img src="your-image.png" alt="Foreign Content">
          </div>
        </div>
      </div>

      <div id="label2" class="tab-content" style="display: none;">
        <div class="content" id="singapore-content">
          <div class="sidebar">
            <div class="accordion">
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('Nric.png') %>" onclick="toggleAccordion(event)">Identification Document</button>
                  <div class="accordion-content">
                      <p>NRIC (front & back) for Singaporean/Permanent Residents</p>
                  </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('dbs-live-fresh.jpg') %>" onclick="toggleAccordion(event)">Financial Document</button>
                  <div class="accordion-content">
                      <p>Submission of either documents are acceptable:
                      <ul>
                          <li>Latest computerised payslip in SGD</li>
                          <li>Full Set of Letter of Appointment (Signed copy by HR and you) + Copy of Staff Pass</li>
                      </ul>
                      </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="main-content">
              <%= image_tag("visa-card.jpg", alt: "Visa Card", id: "main-image") %>
          </div>
        </div>

        <div class="content" id="foreigners-content" style="display: none;">
          <div class="sidebar">
            <div class="accordion">
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event, 'visa-card.jpg')">Valid Passport</button>
                <div class="accordion-content">
                  <p>Passport for Foreigner (minimum validity of 6 months at the time of application)</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Employment Pass</button>
                <div class="accordion-content">
                  <p>Employment Pass must have a minimum validity of 6 months at the time of application. Any of these following pass is acceptable:
                    <ul>
                      <li>Employment Pass</li> 
                      <li>S Pass</li> 
                      <li>Personalised Employment Pass</li>
                      <li>Long-Term Visit Pass with LOC</li>
                      <li>Tech. Pass</li>
                      <li>International Organisation Pass</li>
                      <li>Overseas Networks & Expertise Pass</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Foreign Content 3</button>
                <div class="accordion-content">
                  <p>Content for Foreign Content 3.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Foreign Content 1</button>
                <div class="accordion-content">
                  <p>Content for Foreign Content 1.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Foreign Content 1</button>
                <div class="accordion-content">
                  <p>Content for Foreign Content 1.</p>
                </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" onclick="toggleAccordion(event)">Foreign Content 1</button>
                <div class="accordion-content">
                  <p>Content for Foreign Content 1.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content">
            <img src="your-image.png" alt="Foreign Content">
          </div>
        </div>
      </div>

      <div id="label3" class="tab-content" style="display: none;">
        <div class="content" id="singapore-content">
          <div class="sidebar">
            <div class="accordion">
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('Nric.png') %>" onclick="toggleAccordion(event)">Identification Document</button>
                  <div class="accordion-content">
                      <p>NRIC (front & back) for Singaporean/Permanent Residents</p>
                  </div>
              </div>
              <div class="accordion-item">
                <button class="accordion-header" data-image="<%= image_path('tax-assesment.png') %>" onclick="toggleAccordion(event)">Income Tax Notice of Assessment</button>
                  <div class="accordion-content">
                    <p>Latest 2 years of Income Tax Notice of Assessment in SGD is preferred; else minimally latest 1 year of Income Tax Notice of Assessment</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="main-content">
              <%= image_tag("visa-card.jpg", alt: "Visa Card", id: "main-image") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup-overlay" id="supplementary_popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup('supplementary_popup')">&times;</span>
      <h1>Supplementary Credit Cards</h1>
        <h2 id="popup-header">Eligibility</h2>
        <ul>Supplementary Card Applicant must be at least 18 years old. No income is required.</ul>
        <h2 id="popup-header">How to apply</h2>
        <ul>Complete and mail back the <a id="form-link" href="https://www.dbs.com.sg/iforms/credit-card/supplementary-details.page?pid=sg-dbs-pweb-supplementary-credit-cards-txtlink-application-form">application form</a> with your Supplementary Card Applicant's documents below:</ul>
          <ul>
              <li id="sec-li">Singaporean/Permanent Residents: NRIC (front and back)</li>
              <li id="sec-li">Foreigners: Passport with at least 6 months validity at the time of application. If you are new to DBS/POSB Bank, please also provide the latest copy of your Residential Address Proof.</li>
          </ul>
    </div>
  </div>

  <div class="popup-overlay" id="livefresh_popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup('livefresh_popup')">&times;</span>
      <h1>DBS Live Fresh Student Card</h1>
        <li>To qualify, you must be between 21 to 27 years old. No minimum income required.
        <li>Applicable for existing students (Singaporean/Permanent Residents) from eligible local tertiary institution.</li>
        <br>
        <ul>You will need to provide the following documents:</ul>
          <ul>
            <li id="sec-li">NRIC (front and back)</li>
            <li id="sec-li">Student Matriculation Card (front and back, digital copy is acceptable)</li>
          </ul>
        </li>
    </div>
  </div>

  <script>
    function showPopup(popupId) {
      document.getElementById(popupId).classList.add("show");
    }

    function closePopup(popupId) {
      document.getElementById(popupId).classList.remove("show");
    }

    document.addEventListener('DOMContentLoaded', () => {
    const accordionHeaders = document.querySelectorAll('.accordion-header');

    accordionHeaders.forEach(header => {
        header.addEventListener('click', () => {
            const currentContent = header.nextElementSibling;
            const allContents = document.querySelectorAll('.accordion-content');
            const allHeaders = document.querySelectorAll('.accordion-header');

            allContents.forEach(content => {
                if (content !== currentContent) {
                    content.style.display = 'none';
                }
            });

            allHeaders.forEach(h => {
                if (h !== header) {
                    h.classList.remove('active');
                }
            });

            currentContent.style.display = currentContent.style.display === 'block' ? 'none' : 'block';
            header.classList.toggle('active');

            // Update the image in the main-content div
            const imagePath = header.getAttribute('data-image');
            const mainImage = document.getElementById('main-image');
            mainImage.src = imagePath;
            });
        });
    });


    const toggleCheckbox = document.getElementById('toggle');

    toggleCheckbox.addEventListener('change', () => {
      const singaporeContent = document.getElementById('singapore-content');
      const foreignersContent = document.getElementById('foreigners-content');

      if (toggleCheckbox.checked) {
        singaporeContent.style.display = 'none';
        foreignersContent.style.display = 'flex';
      } else {
        singaporeContent.style.display = 'flex';
        foreignersContent.style.display = 'none';
      }
    });

  function openTab(evt, tabName) {
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-content');

    tabs.forEach(tab => tab.classList.remove('active'));
    evt.currentTarget.classList.add('active');

    tabContents.forEach(content => {
      content.style.display = 'none';
    });

    document.getElementById(tabName).style.display = 'block';
  }

 const imageSrc = header.getAttribute('data-image-src'); 
  if (imageSrc) {
    document.getElementById('main-image').src = imageSrc;
  }




  </script>

</body>
