<!-- app/views/users/_user.html.erb -->
<tr id="<%= dom_id user %>">
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.passport_number %></td>
  <td><%= user.passport_expiry %></td>
  <td><%= user.date_of_birth %></td>
  <td><%= user.gender %></td>
  <td><%= user.nationality %></td>
  <td><%= link_to user.doc_passport, user.doc_passport, target: "_blank" if user.doc_passport.present? %></td>
  <td><%= link_to user.doc_employment_pass, user.doc_employment_pass, target: "_blank" if user.doc_employment_pass.present? %></td>
  <td><%= link_to user.doc_income_tax, user.doc_income_tax, target: "_blank" if user.doc_income_tax.present? %></td>
  <td><%= link_to user.doc_payslip, user.doc_payslip, target: "_blank" if user.doc_payslip.present? %></td>
  <td><%= link_to user.doc_proof_of_address, user.doc_proof_of_address, target: "_blank" if user.doc_proof_of_address.present? %></td>
  <td><%= user.others %></td>
  <td><%= user.created_at %></td>
  <td><%= user.updated_at %></td>
  <td>
    <%= link_to 'Show', user %> |
    <%= link_to 'Edit', edit_user_path(user) %> |
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
