<div class="custom-container">
    <div class="left-div">
        <%= render 'shared/left_toggle-sidebar' %>
    </div>
    <div class="right-div">
        <%= render 'shared/right_header' %>
        <div class="btn-group">
            <button type="button" onclick="changeDiv(1)" id="button1" class="btn btn-outline-danger">Salaried Employee :<br> More than 3 Months </button>
            <button type="button" onclick="changeDiv(2)" id="button2" class="btn btn-outline-danger">Salaried Employee :<br> Less than 3 months</button>
            <button type="button" onclick="changeDiv(3)" id="button3" class="btn btn-outline-danger">Self-Employed/Commission-Based</button>
        </div>

        <div class="tabs">
            <input type="radio" id="tab1" name="tab-control" checked>
            <input type="radio" id="tab2" name="tab-control">
            <input type="radio" id="tab3" name="tab-control">
            <input type="radio" id="tab4" name="tab-control">
            <input type="radio" id="tab5" name="tab-control">
            <ul>
                <li title="Valid Passport">
                    <label class="tab-label" id="label1" for="tab1" role="button">
                        <div class="icon">📕</div>
                        <br><span>Passport</span>
                    </label>
                </li>
                <li title="Employment Pass">
                    <label class="tab-label" id="label2" for="tab2" role="button">
                        <div class="icon">📝</div>
                        <br><span>Employment Pass</span>
                    </label>
                </li>
                <li id="item-tab3" title="Income Tax">
                    <label class="tab-label" id="label3" for="tab3" role="button">
                        <div class="icon">💵</div>
                        <br><span>Income Tax</span>
                    </label>
                </li>
                <li id="item-tab4" title="PaySlip">
                    <label class="tab-label" id="label4" for="tab4" role="button">
                        <div class="icon">💼</div>
                        <br><span>Pay Slip</span>
                    </label>
                </li>
                <li title="Proof of SG Address">
                    <label class="tab-label" id="label5" for="tab5" role="button">
                        <div class="icon">🏠</div>
                        <br><span>Proof of Address</span>
                    </label>
                </li>
            </ul>
            <div class="content">
                <section id="content1">
                    <%= image_tag 'Passport.jpg', alt: "Passport", class: 'content-image' %>
                </section>
                <section id="content2">
                    <%= image_tag 'WorkPass.jpg', alt: "Employment Pass", class: 'content-image' %>
                </section>
                <section id="content3">
                    <%= image_tag 'TaxAsessment.jpg', alt: "Income Tax", class: 'content-image' %>
                </section>
                <section id="content4">
                    <%= image_tag 'IncomeSlip.jpg', alt: "Pay Slip", class: 'content-image' %>
                </section>
                <section id="content5">
                    <%= image_tag 'poa.jpg', alt: "Proof of Address", class: 'content-image' %>
                </section>
            </div>

            <div class="upload-btn-wrapper">
                <form id="uploadForm" enctype="multipart/form-data">
                    <label class="btnUp" id="uploadButton1">
                        <span>Upload Passport</span>
                        <input type="file" id="fileInput1" style="display:none;" data-file-type="passport">
                    </label>
                    <label class="btnUp" id="uploadButton2" style="display:none;">
                        <span>Upload Employment Pass</span>
                        <input type="file" id="fileInput2" style="display:none;" data-file-type="employment_pass">
                    </label>
                    <label class="btnUp" id="uploadButton3" style="display:none;">
                        <span>Upload Income Tax</span>
                        <input type="file" id="fileInput3" style="display:none;" data-file-type="income_tax">
                    </label>
                    <label class="btnUp" id="uploadButton4" style="display:none;">
                        <span>Upload Pay Slip</span>
                        <input type="file" id="fileInput4" style="display:none;" data-file-type="payslip">
                    </label>
                    <label class="btnUp" id="uploadButton5" style="display:none;">
                        <span>Upload Proof of Address</span>
                        <input type="file" id="fileInput5" style="display:none;" data-file-type="proof_of_address">
                    </label>
                </form>
            </div>

            <div style="text-align: right; margin-top: 80px;">
                <%= link_to 'Next', pages_applicationform_path, style: 'display: inline-block; padding: 10px 20px; font-size: 16px; text-decoration: none; background-color: red; color: white; border-radius: 5px;' %>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // File Upload Requests
    const fileInputs = document.querySelectorAll(".upload-btn-wrapper input[type='file']");

    function uploadFile(fileInput) {
        const file = fileInput.files[0];
        if (!file) return;

        const formData = new FormData();
        formData.append('file', file);
        formData.append('file_type', fileInput.dataset.fileType);

        const actionUrl = `/uploads`;

        fetch(actionUrl, {
            method: 'POST',
            body: formData,
            headers: {
                'Accept': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        })
        .then(response => {
            // console.log(`Response status: ${response.status}`);
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            // console.log('Response data:', data);
            alert(`Result: ${data.result} - ${data.message}`);
        })
        .catch(error => {
            // console.error('Error:', error);
            alert('File upload failed: ' + error.message);
        });
    }

    fileInputs.forEach(fileInput => {
        fileInput.addEventListener("change", function () {
            // console.log(`File input changed: ${fileInput.id}`);
            uploadFile(this);
        });
    });

    // Tab and Upload Button Handling
    const tabsContainer = document.querySelector(".tabs");
    const tabs = tabsContainer.querySelectorAll("input[type='radio']");
    const labels = tabsContainer.querySelectorAll(".tab-label");
    const uploadButtons = {
        tab1: document.getElementById('uploadButton1'),
        tab2: document.getElementById('uploadButton2'),
        tab3: document.getElementById('uploadButton3'),
        tab4: document.getElementById('uploadButton4'),
        tab5: document.getElementById('uploadButton5')
    };

    function updateUploadButtons() {
        const activeTab = Array.from(tabs).find(tab => tab.checked).id;
        Object.keys(uploadButtons).forEach(tab => {
            if (tab === activeTab) {
                uploadButtons[tab].style.display = 'inline-block';
            } else {
                uploadButtons[tab].style.display = 'none';
            }
        });
    }

    tabs.forEach(tab => {
        tab.addEventListener('change', updateUploadButtons);
    });

    updateUploadButtons(); // Initialize the upload buttons

    function resetTabs() {
        labels.forEach(label => {
            label.parentElement.style.display = 'none';
            label.control.disabled = true;
        });
        document.getElementById('item-tab3').style.display = 'block';  // Show Income Tax by default
        document.getElementById('item-tab4').style.display = 'block';  // Show Pay Slip by default
    }

    function restoreTabs(tabIds) {
        tabIds.forEach(id => {
            const tab = document.getElementById(id);
            const label = document.querySelector(`label[for='${id}']`);
            tab.disabled = false;
            label.parentElement.style.display = 'block';
        });
    }

    function showTabGroup(groupNumber) {
        resetTabs();
        var buttons = document.querySelectorAll('.btn-group .btn');
        buttons.forEach(function(button) {
            button.classList.remove('active');
        });

        // Add the 'active' class to the clicked button
        var clickedButton = document.getElementById('button' + groupNumber);
        clickedButton.classList.add('active');

        if (groupNumber === 1) {
            restoreTabs(['tab1', 'tab2', 'tab3', 'tab4', 'tab5']);
        } else if (groupNumber === 2) {
            restoreTabs(['tab1', 'tab2', 'tab4', 'tab5']);
            document.getElementById('item-tab3').style.display = 'none';
        } else if (groupNumber === 3) {
            restoreTabs(['tab1', 'tab2', 'tab3', 'tab5']);
            document.getElementById('item-tab4').style.display = 'none';
        }

        updateUploadButtons();
    }

    document.getElementById('button1').addEventListener('click', () => showTabGroup(1));
    document.getElementById('button2').addEventListener('click', () => showTabGroup(2));
    document.getElementById('button3').addEventListener('click', () => showTabGroup(3));

    function changeDiv(groupNumber) {
        // Assuming divUploadedFiles and currentDiv are defined and managed elsewhere in your code
        const hasUploadedFiles = Object.values(divUploadedFiles[currentDiv]).some(file => file !== null);

        if (currentDiv !== groupNumber) {
            if (hasUploadedFiles && !confirm("Do you wish to change your employment type? Your changes will be discarded.")) {
                return;
            }
            resetCurrentDivUploads();

            // Update active button style
            document.querySelectorAll('.btn-group .btn').forEach(button => {
                button.classList.remove('active');
            });
            document.getElementById('button' + groupNumber).classList.add('active');

            currentDiv = groupNumber;
            document.getElementById('tab1').checked = true; // Reset to the first tab by default
            showTabGroup(groupNumber);
        }
    }

    function resetCurrentDivUploads() {
        Object.keys(divUploadedFiles[currentDiv]).forEach(tabId => {
            divUploadedFiles[currentDiv][tabId] = null;
        });
        updateUploadButtons();
    }

    Object.values(fileInputs).forEach((fileInput, index) => {
        fileInput.addEventListener("change", function() {
            var file = this.files[0];
            if (file) {
                var fileType = file.type;
                var validTypes = ['application/pdf', 'image/png', 'image/jpeg'];
                if (validTypes.indexOf(fileType) === -1) {
                    alert('Invalid file type! Please upload a PDF, PNG, or JPG document.');
                    this.value = ''; 
                } else {
                    const activeTab = `tab${index + 1}`;
                    divUploadedFiles[currentDiv][activeTab] = file;
                    uploadButtons[activeTab].querySelector('span').textContent = 'Document Uploaded';
                }
            }
        });
    });

    updateUploadButtons(); // Initialize the upload buttons
    showTabGroup(1); // Initialize the first group of tabs
});
</script>